<div class="footer" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <span class="material-icons">email</span>
                            <p>confort@lookafter.com</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <span class="material-icons">phone</span>
                            <p>1-971-diaper</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <span class="material-icons">location_on</span>
                            <p>Sacramento, California</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>