.footer {
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #ff03c8;
    color: white;
    font-weight: 600;
}
.footer {
    height: 8%;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
}

.material-icons {
    text-align: center;
    align-content: center;
}
