<div class="body">
    <div class="container">
        <div class="row">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <img class="image-cover" alt="">
                            <h5 class="card-title">"information.name"</h5>
                            <p class="card-text">"information.description"</p>
                            <p>"information.size"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <h1>online shopping will be available soon.</h1>
    </div>
</div>