<div class="body">
    <div class="container">
        <br />
        <h1 class="info">online shopping will be available soon.</h1>
        <br />
        <div class="row">
            <div class="col-sm card-container">
                <img class="image-cover round" src="../../../assets/users/user.png" alt="user" />
                <h3>{{user.fullname}}</h3>
                <h6> Email: {{user.email}}</h6>
                <h6> Phone: {{user.phone}}</h6>
                <p>Date of registration: {{ user.created_at | date:"MM-dd-yyyy" }}</p>
            </div>
        </div>
    </div>
</div>