<div class="carrousel-box body">

    
    <div [hidden]="!(resolution > 900)" class="carousel" (mouseover)="stopCarrousel()" (mouseout)="initCarrousel()">
        <ng-container *ngFor="let slide of slides; let i = index">

            <div class="slide" *ngIf="i === currentSlide">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6 cel">
                                <app-card [information]="slide[0]"></app-card>
                            </div>
                            <div class="col-sm-6 cel">
                                <app-card [information]="slide[1]"></app-card>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 cel">
                                <app-card [information]="slide[2]"></app-card>
                            </div>
                            <div class="col-sm-6 cel">
                                <app-card [information]="slide[3]"></app-card>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 headline">
                        <app-headline></app-headline>
                    </div>
                </div>
            </div>
        </ng-container>

        <button class="control prev" (click)="onPreviousClick()">
            <span class="arrow left"></span>
        </button>
        <button class="control next" (click)="onNextClick()">
            <span class="arrow right"></span>
        </button>
    </div>


    <div [hidden]="!(resolution < 900)" class="carousel" (mouseover)="stopCarrousel()" (mouseout)="initCarrousel()">

        <ng-container *ngFor="let slide of slidesSmall; let i = index">
            <div class="slide" *ngIf="i === currentSlideSmall">
                <app-card [information]="slide"></app-card>
            </div>
        </ng-container>


        <button class="control prev" (click)="onPreviousClick()">
            <span class="arrow left"></span>
        </button>
        <button class="control next" (click)="onNextClick()">
            <span class="arrow right"></span>
        </button>
    </div>




</div>