<div class=body>
    <div class="container contact">
        <div class="title">
            <h2>We can help you?</h2>
        </div>

        <form [formGroup]="contactForm">
            <label for=""></label>
            <input type="text" formControlName="title" name="title" class="form-control" placeholder="Title">
            <label for=""></label>
            <input type="text" formControlName="email" name="email" class="form-control" placeholder="Email contact">
            <label for=""></label>
            <textarea rows="5" cols="10" formControlName="description" name="description" class="form-control"
                placeholder="Description"></textarea>
            <br />
            <button type="submit" class="btn button-clr btn-lg btn-block">Send</button>
        </form>
    </div>
</div>