.body {
    padding: 10px 10px 50px 10px;
}
.title {
    // background-color: #ff03c8;
    text-align: center;
}

.cel {
    text-align: center;
}
.contact {
    padding: 10px 10px 50px 10px;
    // background-color: #e8afc8;
    // border-radius: 15px 15px 15px 15px;
    // -moz-border-radius: 15px 15px 15px 15px;
    // -webkit-border-radius: 15px 15px 15px 15px;
    // border: 5px solid #ff03c8;
}

.button-clr {
    background-color: #ff03c8;
}
